.mk-wrapper {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 3vh;

    padding: 10px;
    background: var(--primary-color);
    border-radius: 2px;

    .mk-toolbar {
        flex-wrap: wrap;
        justify-content: center;

        column-gap: 10px;
        row-gap: 15px;

        color: #f2f2f2;
        background-color: transparent;

        padding: unset;
        margin: unset;
        border: none;
        border-radius: unset;

        position: relative;

        &::after {
            position: absolute;
            bottom: -12px;

            content: '';
            width: 80%;
            height: 1px;
            background-color: var(--accent-color);
            opacity: 0.7;
        }
        .rdw-option-wrapper {
            background-color: #f2f2f2;
            border: 0;

            img {
                transition: transform 0.3s ease-in-out;
            }

            &:nth-child(odd):not(.rdw-option-disabled):hover img {
                transform: translateY(-20%) rotateZ(-5deg);
            }
            &:nth-child(even):not(.rdw-option-disabled):hover img {
                transform: translateY(-20%) rotateZ(5deg);
            }
        }

        .rdw-inline-wrapper,
        .rdw-option-wrapper {
            margin: unset;
        }
        .rdw-option-wrapper {
            height: 100%;
            border-radius: unset;
            border-width: 0 1px;
            border-style: solid;
            border-color: #e1e1e1;

            &:first-child {
                border-left: unset;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            &:last-child {
                border-right: unset;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
            &:hover {
                box-shadow: none;
            }
        }
        .rdw-fontsize-wrapper {
            font-family: 'Merienda One';
        }

        .rdw-dropdown-wrapper {
            background-color: transparent;
            border: unset;
            border-radius: unset;
            border-bottom: 1px solid;
            .rdw-dropdown-optionwrapper {
                background-color: #3b3b3b;
                max-height: 200px;

                margin-top: 1vh;
                border: unset;
                padding: 10px;

                &:hover {
                    box-shadow: none;
                }

                .rdw-dropdownoption-default {
                    position: relative;

                    overflow-x: hidden;

                    border-radius: 3px;

                    padding: 0;
                    width: 100%;

                    z-index: 2;

                    &:before {
                        content: '';

                        position: absolute;

                        transform: translateX(-200%);

                        background-color: var(--sixty-percent);
                        width: 100%;
                        height: 100%;

                        z-index: -1;

                        transition: transform 0.7s
                            cubic-bezier(0, 0.105, 0.035, 1.57);
                    }
                    &.rdw-dropdownoption-active {
                        &:before {
                            transform: translateX(0%);
                        }
                    }
                    &.rdw-dropdownoption-highlighted {
                        background-color: unset;
                        &:before {
                            transform: translateX(0%);
                        }
                    }
                    &.rdw-dropdownoption-active {
                        background-color: unset;
                        &:before {
                            transform: translateX(0%);
                        }
                    }
                }
            }
            &:hover {
                box-shadow: none;
            }
        }
        * {
            margin: unset;
        }
    }

    .mk-editor {
        background-color: var(--sixty-percent);
        padding: 8px;

        height: 100%;
        width: 100%;

        border: none;
        border-radius: 5px;

        &::-webkit-scrollbar {
            width: 13px;
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--accent-color);
            border: 5px solid var(--sixty-percent);
            border-radius: 20px;
        }
    }
}
