.mk-wrapper {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1vh;

    padding: 10px;
    background: var(--primary-color);
    border-radius: 2px;

    .mk-toolbar {
        justify-content: center;

        color: #f2f2f2;
        background-color: transparent;

        padding: unset;
        margin: unset;
        border: none;
        border-radius: unset;

        position: relative;

        &::after {
            position: absolute;
            bottom: -5px;

            content: '';
            width: 80%;
            height: 1px;
            background-color: var(--accent-color);
        }
        .rdw-option-wrapper {
            background-color: #f2f2f2;
            border: 0;
        }

        .rdw-inline-wrapper,
        .rdw-option-wrapper {
            margin: unset;
        }

        .rdw-dropdown-wrapper {
            background-color: #3b3b3b;

            .rdw-dropdown-optionwrapper {
                background-color: #3b3b3b;
                max-height: 110px;

                .rdw-dropdownoption-active {
                    background-color: #121212;
                }

                .rdw-dropdownoption-highlighted {
                    background-color: #121212;
                }
            }
        }
    }

    .mk-editor {
        background-color: var(--sixty-percent);
        padding: 8px;

        height: 100%;
        width: 100%;

        border: none;
        border-radius: 5px;

        &::-webkit-scrollbar {
            width: 13px;
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--accent-color);
            border: 5px solid var(--sixty-percent);
            border-radius: 20px;
        }
    }
}
