#__00_react_alert__ .wrapper .inner {
    margin: 20px;

    .alert-container {
        pointer-events: all;
        padding: 15px;

        border-radius: 10px;

        min-width: 250px;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1vw;

        font-family: 'Merienda One';

        text-transform: capitalize;

        .icon {
            border-radius: 10px;

            box-shadow: 0 6px 10px -4px var(--primary-color);
            svg {
                margin: 5px;
            }
        }

        &.info {
            .icon {
                background-color: var(--alert-info);
            }
            background-color: hwb(215deg 40% 10%);
        }

        &.success {
            .icon {
                background-color: var(--alert-success);
            }
            background-color: hwb(154deg 25% 34%);
        }

        &.error {
            .icon {
                background-color: var(--alert-error);
            }
            background-color: hwb(346deg 1% 41%);
        }
    }
}
