.dashboard-header {
    width: 100%;
    display: flex;
    justify-content: space-between;

    .active-section {
        width: 20%;
        display: grid;
        place-items: center;

        font-family: 'Anton', sans-serif;
        font-weight: 600;
    }

    .user-section {
        .user-section-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1vw;

            padding: 5px 8px;
            background-color: var(--primary-color);
            box-shadow: 0px 3px 15px -10px var(--accent-color);
            border-radius: 50px;

            @media screen and (max-width: 960px) {
                gap: 1.5vw;
            }

            .dropdown-icon {
                cursor: pointer;
            }

            .profile-img {
                width: 50px;
                height: 50px;

                border-radius: 50%;
                cursor: pointer;

                img {
                    object-fit: cover;
                    height: 100%;
                }
            }
            .recent-actions {
                width: 50px;
                height: 50px;

                display: grid;
                place-items: center;

                cursor: pointer;

                svg {
                    height: 90%;
                    width: 90%;
                }
            }
        }
    }
}
