{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}{% endblock head %}

        <title>Black Night | {% block title %}{% endblock title %}</title>
    <script defer src="{% static 'dist/main.308de4dda76ecbd9ea17.js' %}"></script><link href="{% static 'dist/main.css' %}" rel="stylesheet"></head>

    <body>
        <div 
            class="root" id="root" 
            role="application" aria-label="application"
            >{% block content %}{% endblock content %}</div>
    </body>
</html>
