.login_form-container {
    position: relative;

    width: 100%;
    max-width: 400px;

    height: 55%;

    background-color: #4176907a;
    border-radius: 10px;
    backdrop-filter: blur(20px);

    animation: form-drop 1s forwards cubic-bezier(0.52, 1.64, 0.24, 0.9);

    &::before {
        content: '';

        position: absolute;
        z-index: -1;
        left: 50%;
        bottom: 100%;
        transform: translateX(-50%);

        width: 2px;
        height: 100vh;

        background-color: white;
    }

    @keyframes form-drop {
        from {
            transform: translateY(-200%);
        }
        to {
            transform: translateY(0);
        }
    }
}
