.login_form-container {
    position: relative;

    width: 100%;
    max-width: 400px;

    height: 55%;

    background-color: #4176907a;
    border-radius: 10px;
    backdrop-filter: blur(20px);

    animation: form-drop 1s forwards cubic-bezier(0.52, 1.64, 0.24, 0.9);

    &::before {
        content: '';

        position: absolute;
        z-index: -1;
        left: 50%;
        bottom: 100%;
        transform: translateX(-50%);

        width: 2px;
        height: 100vh;

        background-color: white;
    }

    @keyframes form-drop {
        from {
            transform: translateY(-200%);
        }
        to {
            transform: translateY(0);
        }
    }

    .login_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 6vh;
        padding: 1rem;

        .login_title {
            position: relative;
            z-index: 1;

            font-family: 'Oleo Script', cursive;
            text-transform: uppercase;
        }

        .form {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            gap: 3vh;
            .input-container {
                width: 100%;

                position: relative;

                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 1px;

                    background-color: #fff;

                    transform-origin: right;

                    transition: width 0.2s ease-in-out;
                }

                label {
                    width: 100%;
                    position: relative;

                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 0.5vw;

                    padding: 10px 0;
                }
                input {
                    width: 100%;

                    position: relative;

                    padding: 10px;

                    outline: 0;
                    border: none;
                    border-top-right-radius: 5px;
                    border-top-left-radius: 5px;
                }
            }
        }
        .button-container {
            width: 100%;

            button {
                width: 100%;
                padding: 10px;
                border: none;
            }
        }
    }
}
