@mixin dark {
    color-scheme: dark;

    // site pallet
    // 60 30 10

    --sixty-precent: #1b2735;
    --thirty-precent: #040404;
    --ten-percent: #e09f1f;

    --primary-color: #040404;
    --accent-color: #f2f2f2;

    // alerts
    --alert-shadow: #fff3;
    --alert-error: #e20338;
    --alert-info: #5199ff;
    --alert-success: #00dc7d;
}
