@use 'config' as g;
@use 'theme';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;

    &:focus {
        outline: 0;
    }
}

::-webkit-scrollbar {
    width: 10px;
    background: #040404;
}

::-webkit-scrollbar-thumb {
    background-color: #272727;
    border: 2px solid #040404;
    border-radius: 20px;
}

// selection
::selection {
    color: #fff;
    background-color: #555;
}

body {
    @include theme.light;

    background-color: var(--primary-color);
    color: var(--accent-color);

    &.dark {
        @include theme.dark;
    }
}
