@use 'config' as g;
@use '@00-team/utils' as *;

.brace-list {
    @include box(100%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 15%;
        padding: 1.5vh 1.5vw;

        position: relative;

        &.left {
            justify-content: flex-end;
        }

        &::after {
            content: '';
            position: absolute;
            width: 40%;
            height: 1px;

            background-color: var(--primary-color);
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        .options-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2vw;

            font-family: 'Oleo Script', cursive;
            font-weight: bold;

            .add-container {
                // reset
                color: inherit;
                text-decoration: none;

                padding: 1.5vh 1.6vw;

                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.75vw;

                border-radius: 10px;

                background-color: var(--primary-color);

                cursor: pointer;
                &:hover {
                    .icon {
                        animation: bounce 0.5s alternate infinite;
                    }
                }

                .model_name {
                    text-transform: uppercase;
                }
            }
            .filter-container:hover {
                .OO-select:not(.active) {
                    .display-option-icon {
                        animation: bounce-arrow 0.5s alternate infinite;
                    }
                }
            }
        }
    }

    .actions-container {
        display: flex;

        align-items: center;
        justify-content: flex-start;
        gap: 1vw;

        width: 100%;

        font-family: 'Oleo Script', cursive;
        font-weight: bold;

        padding: 0 15px;

        margin: 3vh 0;

        .actions {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.75vw;
        }

        .setting {
            transition: transform 0.7s ease-in-out;
        }

        &:hover .setting {
            transform: rotate(180deg);
        }

        .send-btn {
            border-radius: 100vmax;

            background-color: var(--ten-percent);

            box-shadow: 0px 5px 6px -1px var(--primary-color);

            cursor: pointer;

            svg {
                margin: 12px;
                position: relative;
                right: -1px;
            }

            &:hover svg {
                animation: shake 0.7s ease-in-out;
            }

            @keyframes shake {
                0% {
                    transform: rotate(0deg);
                }
                20% {
                    transform: rotate(15deg);
                }
                40% {
                    transform: rotate(-15deg);
                }
                60% {
                    transform: rotate(15deg);
                }
                80% {
                    transform: rotate(-15deg);
                }
                100% {
                    transform: rotate(0deg);
                }
            }
        }
    }

    .result {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;

        width: 100%;
        flex: 1 0 0;

        overflow: auto;
        scroll-behavior: smooth;

        $even_bg: #121212;
        $odd_bg: var(--sixty-percent);

        table {
            border-collapse: collapse;
            width: 100%;
            height: auto;

            .checkbox {
                width: 50px;

                span {
                    input {
                        width: 100%;
                        margin: auto;
                        cursor: pointer;
                    }
                }
            }

            thead {
                tr {
                    position: sticky;
                    top: 0;

                    text-transform: capitalize;

                    background-color: $odd_bg;
                    font-family: 'Poppins', sans-serif;
                }
            }

            tbody {
                tr {
                    font-family: 'Merienda One', cursive;
                    font-weight: bolder;

                    td:nth-child(2) {
                        color: #b5e8ff;
                        cursor: pointer;
                    }
                }
            }

            td,
            th {
                text-align: left;
                padding: 8px;
            }

            tr:nth-child(even) {
                background-color: $odd_bg;
            }
        }
    }
}

@keyframes bounce {
    from {
        transform: scaleX(1.3);
    }
    to {
        transform: translateY(-50%) scaleX(1);
    }
}
@keyframes bounce-arrow {
    from {
        transform: scaleX(1.3);
    }
    to {
        transform: translateY(-50%) scaleX(1);
    }
}
