.brace_form-container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    padding: 1.5vh 1.5vw;

    gap: 3vh;

    .form-title {
        width: 100%;

        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'Oleo Script', cursive;
        font-weight: bold;
        text-transform: capitalize;

        span {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1vw;

            white-space: nowrap;

            position: relative;

            animation: ShowTitle 0.7s ease-in-out forwards;

            &:before,
            &:after {
                content: '';
                height: 2px;
                background-color: #fff;

                animation: ShowLine 1s 0.8s ease-in-out forwards;
            }
            @keyframes ShowLine {
                from {
                    width: 0%;
                }
                to {
                    width: 100%;
                }
            }
        }
        @keyframes ShowTitle {
            from {
                opacity: 0;
                -webkit-transform: translateY(115%);
                transform: translateY(115%);
            }
            to {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
        }
    }

    .form-data {
        flex: 1 0 0;
        width: 100%;
        font-size: 20px;

        padding: 1vh 1vw;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 5vh;

        overflow: auto;

        .fieldset {
            background-color: var(--sixty-percent);
            border-radius: 1rem;
            padding: 1.5vh 1.5vw;

            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 1vh;

            width: 100%;

            h2 {
                width: 100%;

                padding: 10px 0;

                overflow: hidden;

                font-family: 'Merienda One', cursive;
                font-weight: bold;
            }
            .inp-wrappper {
                display: flex;
                width: 100%;

                padding: 10px 0;

                label {
                    display: inline-block;
                    width: 200px;

                    font-family: 'Anton', sans-serif;
                    text-transform: capitalize;
                }

                .result-input-wrapper {
                    position: relative;

                    &:before {
                        content: '';
                        height: 2px;
                        background-color: var(--accent-color);
                        position: absolute;
                        bottom: 0;
                        width: 0%;

                        z-index: 1;

                        transition: width 0.5s
                            cubic-bezier(0.52, 1.64, 0.37, 0.66);
                    }

                    // &:focus-within::before {
                    //     width: 100%;
                    // }
                    input.result-input {
                        border: none;
                        background-color: #262626;

                        border-bottom: 2px solid grey;

                        padding: 1vh 0.3vw;

                        font-family: 'Oleo Script', cursive;
                        font-weight: bold;

                        &:focus {
                            outline: none;
                        }
                    }
                    textarea {
                        font-family: 'Oleo Script', cursive;
                        font-weight: bold;

                        padding: 1vh 1vw;

                        border: none;
                        border-radius: 10px;
                    }
                }

                .image-field {
                    background-color: var(--thirty-percent);
                    display: flex;

                    border-radius: 1rem;

                    label {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1vw;

                        width: 100%;

                        padding: 10px 15px;

                        font-family: 'Oleo Script', cursive;
                        font-weight: bold;

                        .browse {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 0.5vw;

                            cursor: pointer;

                            text-decoration: underline;

                            .icon {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                flex-direction: column;

                                .line {
                                    width: 100%;
                                    height: 2px;
                                    background-color: white;
                                }
                            }
                        }
                        * {
                            white-space: nowrap;
                        }
                    }

                    input {
                        display: none;
                    }
                    img {
                        aspect-ratio: 1/1;
                        object-fit: contain;
                    }
                }
            }
        }
    }
    .form-footer {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        gap: 1vw;

        border-radius: 10px;

        overflow: hidden;

        padding: 1vh 0;

        button {
            padding: 1.5vh 1.6vw;

            cursor: pointer;
            border: none;
            border-radius: 5px;

            text-transform: capitalize;
            font-family: 'Oleo Script', cursive;
            font-weight: bold;

            background-color: var(--ten-percent);

            box-shadow: 0 2px 10px -2px #161616;

            transition: transform 0.25s ease-in-out;

            &:hover {
                transform: translateY(-12%);
            }
        }

        .main {
            background-color: #408cb3;
        }

        &.active {
            button {
                animation: btn-fadein 1s ease-in-out backwards;
            }
        }
        @keyframes btn-fadein {
            0% {
                transform: translateY(200%);
            }
            50% {
                transform: translateY(-10%);
            }
            100% {
                transform: translateY(0);
            }
        }
    }
}
