.brace-form-container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    padding: 1.5vh 1.5vw;

    gap: 3vh;

    .form-title {
        width: 100%;

        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'Oleo Script', cursive;
        font-weight: bold;
        text-transform: capitalize;

        span {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1vw;

            white-space: nowrap;

            position: relative;

            animation: ShowTitle 0.7s ease-in-out forwards;

            &:before,
            &:after {
                content: '';
                height: 2px;
                background-color: #fff;

                animation: ShowLine 1s 0.8s ease-in-out forwards;
            }
            @keyframes ShowLine {
                from {
                    width: 0%;
                }
                to {
                    width: 100%;
                }
            }
        }
        @keyframes ShowTitle {
            from {
                opacity: 0;
                -webkit-transform: translateY(115%);
                transform: translateY(115%);
            }
            to {
                opacity: 1;
                -webkit-transform: translateY(0);
                transform: translateY(0);
            }
        }
    }

    .form-data {
        flex: 1 0 0;
        width: 100%;
        font-size: 20px;

        padding: 1vh 1vw;

        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 5vh;

        overflow: auto;

        .fieldset {
            background-color: var(--sixty-percent);
            border-radius: 1rem;
            padding: 1.5vh 1.5vw;

            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;
            gap: 1vh;

            width: 100%;

            .fieldset-header {
                width: 100%;
                height: auto;

                * {
                    transition: transform 0.75s ease-in-out;
                }

                h2 {
                    width: 100%;

                    padding: 10px 0;

                    overflow: hidden;

                    font-family: 'Merienda One', cursive;
                    font-weight: bold;

                    div {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        gap: 1vw;

                        position: relative;
                        width: 100%;

                        transform: translateY(200%);

                        &:after {
                            content: '';
                            left: 0;
                            width: 0;
                            height: 2px;
                            background-color: var(--accent-color);

                            transition: width 0.75s 1.25s ease-in-out;
                        }
                    }
                }

                .fieldset-description {
                    transform: translateY(200%);

                    transition-delay: 1.75s;
                }

                &.active {
                    h2 div {
                        transform: translateY(0);
                        &:after {
                            width: 100%;
                            transition-duration: 0.5s;
                        }
                    }
                    .fieldset-description {
                        transform: translateY(0);
                    }
                }
            }

            .fieldset-field {
                width: 100%;
                height: auto;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                padding: 10px 0;

                .data {
                    display: flex;
                }

                .error {
                    color: red;
                    font-family: system-ui;
                }

                * {
                    transition: transform 0.75s ease-in-out;
                }

                label,
                .result-input {
                    transform: translateY(200%);
                }

                label {
                    display: inline-block;
                    width: 200px;

                    font-family: 'Anton', sans-serif;
                    text-transform: capitalize;
                }

                .result-input-wrapper {
                    position: relative;

                    &:before {
                        content: '';
                        height: 2px;
                        background-color: var(--accent-color);
                        position: absolute;
                        bottom: 0;
                        width: 0%;

                        z-index: 1;

                        transition: width 0.5s
                            cubic-bezier(0.52, 1.64, 0.37, 0.66);
                    }

                    // &:focus-within::before {
                    //     width: 100%;
                    // }
                    input.result-input {
                        border: none;
                        background-color: #262626;

                        border-bottom: 2px solid grey;

                        padding: 1vh 0.3vw;

                        font-family: 'Oleo Script', cursive;
                        font-weight: bold;

                        &:focus {
                            outline: none;
                        }
                    }
                    textarea {
                        font-family: 'Oleo Script', cursive;
                        font-weight: bold;

                        padding: 1vh 1vw;

                        border: none;
                        border-radius: 10px;
                    }
                }

                .image-field {
                    background-color: var(--thirty-percent);
                    display: flex;
                    flex-direction: column;
                    gap: 1vh;

                    max-width: 400px;

                    border-radius: 1rem;

                    label {
                        cursor: pointer;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        gap: 1vw;

                        width: 100%;

                        padding: 10px 15px;

                        font-family: 'Oleo Script', cursive;
                        font-weight: bold;

                        position: relative;
                        overflow: hidden;

                        .browse {
                            text-decoration: underline;
                        }
                        * {
                            white-space: nowrap;
                        }

                        .loading-bar {
                            position: absolute;

                            width: 100%;
                            height: 100%;
                            backdrop-filter: blur(10px);

                            border-radius: 1rem;
                            overflow: hidden;
                        }
                    }

                    input {
                        display: none;
                    }

                    .img-container {
                        position: relative;
                        img {
                            aspect-ratio: 1/1;
                            object-fit: contain;
                            width: 100%;
                        }

                        .cross {
                            position: absolute;
                            inset: 0;

                            backdrop-filter: blur(10px);

                            opacity: 0;

                            width: 100%;
                            height: 100%;

                            z-index: 1;

                            cursor: pointer;

                            svg {
                                transform: rotate(180deg);

                                transition: transform 0.6s
                                    cubic-bezier(0, 0.105, 0.035, 1.57);
                            }

                            transition: opacity 0.5s linear;
                        }

                        &:hover {
                            .cross {
                                opacity: 1;
                                svg {
                                    transform: rotate(0deg);
                                }
                            }
                        }
                    }
                }

                &.active {
                    label,
                    .result-input {
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}
