@use '@00-team/utils' as *;
@use 'config' as g;

.dashboard-container {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 3vh;

    padding: 2rem 2.5rem;

    .dashboard-wrapper {
        width: 100%;
        flex: 1;

        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3vw 3vh;

        @media screen and (max-width: 1024px) {
            flex-direction: column;
        }

        .brace {
            @include box(100%);

            background: var(--thirty-percent);
            box-shadow: -5px 8px 15px 6px #000;

            border-radius: 10px;
            overflow: hidden;

            .brace-text {
                @include box(100%);
                @include f-center;
                .bouncy-text {
                    font-family: 'Merienda One';
                    font-size: g.$TITLE_FONTSIZE;
                }
            }
        }
    }
}
