.dashboard-data {
    height: 100%;
    width: 75%;
    background: var(--thirty-percent);
    box-shadow: -5px 8px 15px 6px #000;

    border-radius: 10px;

    &.no-section {
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'Oleo Script', cursive;
    }

    @media screen and (max-width: 1440px) {
        width: 70%;
    }
    @media screen and (max-width: 1024px) {
        width: 100%;
    }
}
