.dashboard-data {
    height: 100%;
    width: 75%;
    background: var(--thirty-percent);
    box-shadow: -5px 8px 15px 6px #000;

    border-radius: 10px;

    &.no-section {
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'Oleo Script', cursive;

        .space {
            margin: 0 4px;
        }

        span:not(.space) {
            animation: selectSection 1s ease-in-out;
        }
    }

    @media screen and (max-width: 1440px) {
        width: 70%;
    }
    @media screen and (max-width: 1024px) {
        width: 100%;
    }
}

@keyframes selectSection {
    0% {
        transform: translateY(0);
    }
    33% {
        transform: translateY(-30%);
    }
    66% {
        transform: translateY(30%);
    }
    100% {
        transform: translateY(0);
    }
}
