.mainhall {
    height: 100%;
    width: 75%;
    background: var(--thirty-percent);
    box-shadow: -5px 8px 15px 6px #000;

    border-radius: 10px;

    &:not(.no-section) {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        gap: 3vh;
    }
    &.no-section {
        display: flex;
        align-items: center;
        justify-content: center;

        font-family: 'Oleo Script', cursive;

        .space {
            margin: 0 4px;
        }

        span:not(.space) {
            animation: selectSection 1s ease-in-out;
        }
    }

    @media screen and (max-width: 1440px) {
        width: 70%;
    }
    @media screen and (max-width: 1024px) {
        width: 100%;
    }

    .data-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 15%;
        padding: 5px 10px;

        // position: relative;

        &::after {
            content: '';
            position: absolute;
            width: 40%;
            height: 1px;

            background-color: var(--primary-color);
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

@keyframes selectSection {
    0% {
        transform: translateY(0);
    }
    33% {
        transform: translateY(-30%);
    }
    66% {
        transform: translateY(30%);
    }
    100% {
        transform: translateY(0);
    }
}
