.orderslist-container {
    position: absolute;
    top: 0;

    background-color: var(--sixty-percent);

    z-index: 1;

    ol {
        padding-left: 0.5em;

        li {
            list-style-type: decimal; /* or 'decimal-leading-zero', 'upper-alpha', 'lower-alpha'... */
            list-style-position: outside; /* or 'inside' */
            margin-left: 1em; /* gives 'room' for the numbers to appear in */
        }
    }
}
