.orderslist-container {
    position: absolute;
    top: 0;
    right: 0;

    width: 150%;

    padding-top: 3vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.5vh;

    background-color: var(--ten-percent);

    z-index: 1;

    opacity: 0;
    visibility: hidden;

    transform: scale(0.9);

    border-radius: 10px;
    overflow: hidden;

    transition: all 0.5s ease-in-out;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }

    .active-orders {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;

        padding: 15px 0;

        width: 100%;

        ol {
            width: 100%;
            padding: 0 1em;

            height: 250px;
            overflow-y: auto;

            li {
                list-style-type: decimal; /* or 'decimal-leading-zero', 'upper-alpha', 'lower-alpha'... */
                list-style-position: outside; /* or 'inside' */
                margin-left: 1em; /* gives 'room' for the numbers to appear in */

                margin-top: 1vh;

                border: 1px dashed var(--sixty-percent);

                border-radius: 10px;

                padding: 5px 0;

                position: relative;

                &.order-active {
                    border: none;
                    text-align: center;

                    background-color: var(--sixty-percent);

                    .reverse-orders-wrapper {
                        position: absolute;
                        top: 0;
                        right: 5px;

                        transform: translateY(30%);

                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 0.5vw;

                        cursor: pointer;
                        .checkbox {
                            width: 45px;
                            height: 25px;
                            overflow: hidden;
                            border-radius: 20px;

                            .custom-checkbox-label {
                                width: 100%;
                                height: 100%;
                                display: block;
                                position: relative;
                                background-color: #dddddd;
                                transition: background-color 0.3s;
                            }

                            .custom-checkbox-label-aux {
                                top: 0;
                                transform: translateY(10%);
                                left: 4px;
                                width: 20px;
                                height: 20px;
                                display: block;
                                position: absolute;
                                border-radius: 100%;
                                transition: left 0.3s;
                                background-color: white;
                                box-shadow: 0px 1px 5px 0px
                                    rgba(56, 55, 56, 0.61);
                            }

                            &.active .custom-checkbox-label {
                                background-color: #6edc5f;
                            }

                            &.active .custom-checkbox-label-aux {
                                left: 23px;
                            }

                            .custom-checkbox-input {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .list-orders {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 0.5vw;

        width: 100%;

        padding-top: 1.5vh;

        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;

            width: 90%;
            height: 1px;

            background-color: var(--primary-color);

            z-index: 1;
        }

        .list-order {
            text-align: center;
            padding: 10px 15px;
            background-color: var(--sixty-percent);

            border-radius: 10px;

            cursor: pointer;

            text-transform: capitalize;
        }
    }

    .close-btn {
        position: absolute;
        top: 12px;
        right: 12px;

        cursor: pointer;

        transform: rotate(0);

        svg {
            transition: transform 0.7s ease-in-out;
        }

        &:hover svg {
            transform: rotate(360deg);
        }
    }
}
