.wana-delete_container {
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    backdrop-filter: blur(10px);

    z-index: 1;

    display: grid;
    place-items: center;

    .wana-delete_wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1vh;

        .wana-icon {
            margin-bottom: 2vh;
        }
    }
}
