<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Black Night</title>

        <style>
            * {
                margin: 0;
                padding: 0;
                box-sizing: border-box;
            }

            body {
                background-color: #040404;
                color: #f2f2f2;
                font-family: sans-serif;
            }
        </style>
    </head>
    <body>
        <h1>Black Night Single Page Admin ...</h1>
    </body>
</html>
