{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% comment %} {% include "includes/meta.html" %} {% endcomment %}

        <%= htmlWebpackPlugin.tags.bodyTags %> 

        {% block head %}{% endblock head %}

        <title>Black Night | {% block title %}{% endblock title %}</title>

        <script>
            var BASE_URL = '{{ base_url }}';
        </script>
    </head>

    <body>
        <div 
            class="root" id="root" 
            role="application" aria-label="application"
            >{% block content %}{% endblock content %}</div>
    </body>
</html>
