.isintersecting-container {
    width: 100%;
    height: auto;

    * {
        transition: transform 0.75s ease-in-out;
    }

    h2 {
        div {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1vw;

            position: relative;
            width: 100%;

            transform: translateY(200%);

            &:after {
                content: '';
                left: 0;
                width: 0;
                height: 2px;
                background-color: var(--accent-color);

                transition: width 0.75s 1.25s ease-in-out;
            }
        }
    }

    .fieldset-description {
        transform: translateY(200%);

        transition-delay: 1.75s;
    }

    &.active {
        h2 div {
            transform: translateY(0);
            &:after {
                width: 100%;
                transition-duration: 0.5s;
            }
        }
        .fieldset-description {
            transform: translateY(0);
        }
    }
}
