.column-container {
    width: 100%;
    height: auto;

    * {
        transition: transform 0.75s ease-in-out;
    }

    .inp-wrappper {
        overflow: hidden;
        label,
        .result-input {
            transform: translateY(200%);
        }
    }

    &.active {
        h2 div {
            transform: translateY(0);
            &:after {
                width: 100%;
                transition-duration: 0.5s;
            }
        }
        .fieldset-description {
            transform: translateY(0);
        }
        label,
        .result-input {
            transform: translateY(0);
        }
    }
}
